<!-- Nav -->
<nav>
  <div class="logo">
    <img
      src="https://res.cloudinary.com/dqaqts0kn/image/upload/v1668110670/varios/vnblh6iqxxg4pazscnhh.png"
      alt="logo"
    />
  </div>

  <div class="perfil">
    <div class="perfil_detalles">
      <p class="nombre">Gabriela Montañez</p>
      <p class="cargo">Jefe de operaciones</p>
    </div>
    <div class="foto">
      <img
        src="https://res.cloudinary.com/dqaqts0kn/image/upload/v1668110670/varios/reja3hovnlujzxplx0nf.png"
        alt="Foto de perfil"
      />
    </div>
  </div>
</nav>
