<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
</style>
<div class="backColor">
  <div>
    <h3>{{ vehiculos }}</h3>
    <div>
      <div class="example-button-row">
        <div>
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput type="text" [(ngModel)]="value" />
            <button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Escriba la placa del vehículo"
              (click)="value = ''"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- Boton de nuevo registro  -->
        <!-- <div >
          <button (click)="cambiarTitulo()" mat-raised-button color="success">
            Nuevo registro
          </button>
        </div> -->

        <!-- Editor de Nombre  -->
        <app-editor-nombre
          [nombre]="nombreUsuario"
          class="editor"
          (cambioNombre)="cambiarNombreUsuario($event)"
        ></app-editor-nombre>


      </div>
      <!-- Lista de propietarios -->
      <div class="cls-content-page">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="seleccionarName(element.name)"
              class="select-name"
            >
              {{ element.name }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
